@import "../libs/variables.scss";

.features-page {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;
    position: relative;
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-content: space-between;
    margin-bottom: 95px;
    position: relative;
    text-align: right;
  }

  &__title {
    margin: 0;
    font-size: 4vw;
    text-transform: uppercase;
    color: $black;
    max-width: 35vw;
    text-align: left;
  }

  &__wrapper {
    .features-page__subtitle {
      text-align: right;
      display: block;
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    h2 {
      margin: 0 0 20px;
      max-width: 12.5vw;
      font-size: 1.2vw;
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  &__link {
    margin: 0;
    color: $white;
    background-color: $darkBlue;
    padding: 1.5vw;
    width: calc(100% - 60px);
    font-size: 1.5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-transform: uppercase;

  }
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &__image {
    position: relative;
    height: 34vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__block {
    width: 11vw;
    position: absolute;
    right: 0;
    height: 80%;
    top: 0;

    &--color {
      height: 60%;
      width: 100%;
    }

    &--link {
      margin: 0;
      color: $white;
      background-color: $darkBlue;
      padding: 20px;
      width: calc(100% - 40px);
      height: calc(40% - 60px);
      position: relative;

      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-weight: 400;
      text-transform: uppercase;
      span{
        font-size: 1.5vw;
      }
      svg {
        position: absolute;
        right: 25px;
        bottom: 25px;
      }
    }
  }

  &__title {
    font-size: 2.2vw;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 50px;
  }

  &__texts {
    margin-left: 5vw;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.4;
    max-width: 630px;
  }

  &__price {
    margin-top: 45px;
  }

  &--right {

    .feature__block {
      width: 80%;
      height: 10vw;
      display: flex;
      position: absolute;
      right: unset;
      top: unset;
      bottom: 0;
      left: 0;

      &--color {
        width: 60%;
        height: 10vw;
      }

      &--link {
        width: 10vw;
        position: relative;
        height: calc(100% - 40px);
      }
    }
  }

  &__link {
    display: none;
  }
}

.feature--right{
  .feature__texts{
    margin-right: 20px;
  }
}
