@import '../libs/variables.scss';

.finding{
  &-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.167vw;
  }
  &__title{
    font-weight: 500;
    font-size: 4vw;
    text-transform: uppercase;
    color: $black;
  }
  &__description{
    font-size: 1.250vw;
    line-height: 1.563vw;
    text-transform: uppercase;
    max-width: 30vw
  }

}
.finding__map{
    width: 100%;
    height: 31.250vw;
}
