@import '../../libs/variables.scss';

.coming-soon {
    margin: 110px 0;

    &__title {

        font-size: 5.8vw;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 10%;
        line-height: 1;
        width: 100%;
        text-align: left;
        padding-left: 30px
    }

    &__blocks {
        grid-template-areas:
        "pink grey"
        "pink button";
        position: relative;
        margin: auto;
        height: 33.8vw;
        max-width: 50vw;
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 3fr 2fr;

        &--grey {
            background-color: $turquoise;
            grid-area: grey;
        }
        &--pink {
            background-color: $beige;
            grid-area: pink;
        }

        &--button {
            position: relative;
            grid-area: button;
            color: $white;
            background-color: $darkBlue;

            font-weight: 500;
            font-size: 2vw;
            text-transform: uppercase;

            height: 100%;
            display: block;

            svg {
                position: absolute;
                right: 1.5vw;
                bottom: 1.5vw;
                width: 2.5vw;
                height: 2.5vw;
            }
        }
    }
}

@media (max-width: 992px) {
    .coming-soon {
        &__blocks {
            max-width: 50vw;
        }
    }
}

@media (max-width: 576px) {
    .coming-soon {
        margin: 0;

        &__title {
            font-size: 40px;
            top: 20px;
            left: 5px;
            max-width: 220px;
        }

        &__blocks {
            max-width: unset;
            height: 250px;

            &--button {
                font-size: 22px;

                svg {
                    right: 15px;
                    bottom: 15px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
