@import '../../libs/variables.scss';

.error-page {
    margin: 110px 0;

    &__title {
        font-weight: 500;
        font-size: 16.5vw;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        right: 0;
        top: 10%;
        line-height: 1;
    }

    &__sub-title {
        font-weight: 500;
        font-size: 2vw;
        text-transform: uppercase;
        max-width: 350px;
    }

    &__blocks {
        grid-template-areas: 
        "pink grey"
        "text button";
        position: relative;
        margin: auto;
        height: 33.8vw;
        max-width: 42vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 3fr 2fr;

        &--grey {
            background-color: $beige;
            grid-area: grey;
        }
        &--pink {
            background-color: $pink;
            grid-area: pink;
        }

        &--button {
            position: relative; 
            grid-area: button;
            color: $white;
            background-color: $darkBlue;

            font-weight: 500;
            font-size: 2vw;
            text-transform: uppercase;

            height: 100%;
            display: block;

            svg {
                position: absolute;
                right: 1.5vw;
                bottom: 1.5vw;
                width: 2.5vw;
                height: 2.5vw;
            }
        }
    }
}

@media (max-width: 992px) {
    .error-page {
        &__blocks {
            max-width: 50vw;
        }

        &__sub-title {
            max-width: 200px;
        }
    }
}

@media (max-width: 576px) {
    .error-page {
        margin: 0;

        &__title {
            font-size: 165px;
            top: 0;
        }

        &__sub-title {
            font-size: 17px;
        }

        &__blocks {
            grid-template-columns: 130px 1fr;
            max-width: unset;
            height: 300px;

            &--button {
                font-size: 22px;

                svg {
                    right: 15px;
                    bottom: 15px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}