@import "../../libs/variables.scss";

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .logo {
    padding: 10px 0;
  }

  .logo__title pre {
    font-size: 1vw;
  }

  &__wrapper {
    border-bottom: 1px solid $darkBlue;
    background-color: $white;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 9999px;
      background-color: #fff;
      left: -300px;
      height: 100%;
      z-index: -1;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: $black;

    &:after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: #000;
      transform: scaleX(0);
      transition: transform .5s cubic-bezier(.785, .135, .15, .86);
    }

    &:hover:after {
      transform: scaleX(1);
    }

    svg {
      margin-left: 15px;
      transition: 0.4s ease-in-out;
    }

    .nuxt-link-exact-active::before {
      z-index: 1;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: $darkBlue;
      content: "";
    }
  }

  &-buttons {
    justify-content: flex-end;
    display: flex;
    font-weight: 500;

    .button:first-child {
      margin-right: 20px;
    }
  }
}

.location-link-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-menu__nav .header__link svg {
  height: 29px;
  position: absolute;
  right: 30px;
  top: 40px;
}

.header-menu__nav .header__link {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  a {
    position: static;
    width: auto;

    svg {
      position: absolute;
    }
  }
}

.list-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #000126;
  width: 340px;
  top: 100px;
  border-top: 0;

  li {
    padding: 20px;
    border-bottom: 1px solid #000126;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #000126;

      a {
        color: #fff;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.list-dropdown-mobile {
  width: 100%;
  display: none;

  .header__link {
    border-bottom: 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -40px;
      top: -3px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: #F0F0F0;
    }
  }
}

.dropdown-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    position: relative;
    right: 26px;
    transform: rotate(180deg);
  }
}

//hamburger

.hamburger {
  z-index: 15;
  position: relative;
  --color: #000;
  width: 36px;
  height: 36px;
  padding: 0;
  margin-right: -12px;
  outline: none;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;

  svg {
    width: 64px;
    height: 48px;
    top: -6px;
    left: -14px;
    stroke: var(--color);
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    display: block;
    position: absolute;

    path {
      transition: stroke-dasharray var(--duration, .85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, .85s) var(--easing, ease) var(--delay, 0s);
      stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
      stroke-dashoffset: var(--offset, 126px);
      transform: translateZ(0);

      &:nth-child(2) {
        --duration: .7s;
        --easing: ease-in;
        --offset: 100px;
        --array-2: 74px;
      }

      &:nth-child(3) {
        --offset: 133px;
        --array-2: 107px;
      }
    }
  }

  &.active {
    svg {
      path {
        --offset: 57px;

        &:nth-child(1),
        &:nth-child(3) {
          --delay: .15s;
          --easing: cubic-bezier(.2, .4, .2, 1.1);
        }

        &:nth-child(2) {
          --duration: .4s;
          --offset: 2px;
          --array-1: 1px;
        }

        &:nth-child(3) {
          --offset: 58px;
        }
      }
    }
  }
}

.header-menu {
  height: 100%;
  max-width: 690px;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  position: fixed;
  right: -690px;
  top: 0;
  z-index: 11;
  background-color: #fff;
  transition: right 0.7s;

  .logo__title pre {
    font-size: 15px;
    line-height: 18px;
  }
}

.header {
  &:before {
    position: absolute;
    content: '';
    background-color: $black;
    width: 0;
    top: 0;
    left: 0;
    height: 9999px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 4;
  }
}

.activeMenu {
  &::before {
    opacity: 0.4;
    width: 100%;
  }
}

.header-menu.open {
  right: 0;
}

.header-menu__nav .header__link svg {
  transform: rotate(270deg);
}

.header-menu__nav {
  .active {
    &~.list-dropdown-mobile {
      display: block;
      margin-top: 16px;
      margin-bottom: -16px;

      a {
        color: #4D4D4D;
        font-size: 21px;
      }
    }
  }

  svg.active {
    transform: rotate(90deg);
  }
}


.header-menu__nav {
  padding-bottom: 25px;

  li:first-child {
    padding: 15px 0 15px 38px;
  }
}

.header-menu__nav li {
  padding: 48px 0 48px 38px;
  border-bottom: 1px solid #B9B9B9;
  ;

}

.header-menu__nav li a {
  color: #000;
  font-size: 23px;
  line-height: 24px;
  text-transform: uppercase;
}

.dropdownLink:hover {
  .list-dropdown {
    display: block;
  }

  svg {
    transform: rotate(180deg);
  }
}

.dropdownLink .dropdownShow {
  .list-dropdown {
    display: none;
  }
}

.list-dropdown .header__link:after {
  width: 0;
}

.list-dropdown .nuxt-link-exact-active:before {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $darkBlue;
  content: '';
}

.list-dropdown .nuxt-link-exact-active span {
  color: $white;
  position: relative;
  z-index: 1;
}